@import url('https://fonts.googleapis.com/css2?family=DotGothc16&display=swap');

#Background {
    -fx-background-color: #1d0057;
    -fx-border-color: #26006f;
    -fx-border-width: 8;

}

.label {
    -fx-font-family: 'DotGothic16';
    -fx-text-fill: white;
}
.button{
    -fx-font-family: 'DotGothic16';
    -fx-text-fill: white;
}